<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome | VASAVI CANTEEN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="header sticky-top">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="my-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#signup-modal">
                            <i class="fas fa-user text-primary"></i> Signup
                        </a>                        
                    </li>
                    <div class="nav-vl"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal">
                            <i class="fas fa-sign-in-alt text-primary"></i>Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="loading">
    </div>

    <div class="banner-container">
        <h2 class="white pb-3 text-primary" id="letter-by-letter"> </h2>
    </div>

    <div class="page-container">
        <h1 class="food-heading">
                    Food Classes
        </h1>
        <div class="form-row">
            <div class="city-card-container col-md">
                <a href="{{url_for('property_list2')}}">
                    <div class="city-card rounded-circle">
                        <img src="{{ url_for('static', filename='img/Tiffin.png') }}" alt="Tiffin" class="city-img" >
                    </div>
                </a>
            </div>

            <div class="city-card-container col-md">
                <a href="{{url_for('property_list1')}}">
                    <div class="city-card rounded-circle">
                        <img src="{{ url_for('static', filename='img/food court.png') }}" alt="Food Court" class="city-img" >
                    </div>
                </a>
            </div>

            <div class="city-card-container col-md">
                <a href="{{url_for('property_list3')}}">
                    <div class="city-card rounded-circle">
                        <img src="{{ url_for('static', filename='img/fruit juice.png') }}" alt="Fruit Juice" class="city-img" >
                    </div>
                </a>
            </div>

            <div class="city-card-container col-md">
                <a href="{{url_for('property_list4')}}">
                    <div class="city-card rounded-circle">
                        <img src="{{ url_for('static', filename='img/tea and snacks.png') }}" alt="Tea and Snacks" class="city-img" >
                    </div>
                </a>
            </div>

            <div class="city-card-container col-md">
                <a href="{{url_for('property_list5')}}">
                    <div class="city-card rounded-circle">
                        <img src="{{ url_for('static', filename='img/pizza and bakery.png') }}" alt="Pizza And Bakery" class="city-img" >
                    </div>
                </a>
            </div>
        </div>
    </div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-heading" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signup-heading">Signup with Vasavi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{{ url_for('signup') }}" method="POST" id="signup-form" class="form" role="form">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="full_name" placeholder="Full Name" maxlength="30" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-phone-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="phone" placeholder="Phone Number" maxlength="10" minlength="10" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" minlength="6" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-university"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="college_id" placeholder="College id" maxlength="15" required>
                        </div>

                        <div class="form-group">
                            <span>I'm a</span>
                            <input type="radio" class="ml-3" id="gender-male" name="gender" value="male" /> Male
                            <label for="gender-male">
                            </label>
                            <input type="radio" class="ml-3" id="gender-female" name="gender" value="female" />
                            <label for="gender-female">
                                Female
                            </label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Create Account</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span>Already have an account?
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-heading" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-heading">Login with Vasavi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="{{ url_for('login') }}" method="POST" id="login-form" class="form" role="form">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" minlength="6" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span>
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#signup-modal">Click here</a>
                        to register a new account
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="page-container footer-container">
            <div class="footer-cities">
                <div class="footer-city">
                    <a href="{{url_for('property_list2')}}">Vasavi Tiffins</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list1')}}">Vasavi Food Court</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list3')}}">Fruit Juice And Milk Shakes</a>
                </div>
                <div class="footer-city">
                    
                    <a href="{{url_for('property_list4')}}">Tea And Snacks</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list5')}}">Pizzas And Bakery</a>
                </div>
            </div>
            <div class="footer-copyright">© 2023 Copyright Vasavi Food Canteen </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
                const text = "LET'S WALK INTO THE FOOD WORLD...";
        const element = document.getElementById('letter-by-letter');
        let index = 0;

        function showText() {
        if (index < text.length) {
            element.textContent += text.charAt(index);
            index++;
            setTimeout(showText, 50);
        }
        }

        showText();

    </script>

</body>

</html>
