<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>list of Vasavi Canteen | Vasavi Canteen</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/property_list.css') }}">
</head>

<body>
    <div class="header sticky-top">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{{url_for('index_after_login')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
           </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#my-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="my-navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">
                            <i class="fas fa-user text-primary"></i>Dashboard
                        </a>
                    </li>
                    <div class="nav-vl"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index_after_login') }}">
                            <i class="fas fa-home text-primary"></i>Home
                        </a>
                    </li>
                    <div class="nav-vl"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">
                            <i class="fas fa-sign-out-alt text-danger"></i>Logout
                        </a>
                    </li>
                    
                </ul>
            </div>
        </nav>
    </div>

    <div id="loading">
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb py-2">
            <li class="breadcrumb-item">
                <a href="{% if 'email' in session %}{{ url_for('index_after_login') }}{% else %}{{ url_for('index') }}{% endif %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Tea And Snacks
            </li>
        </ol>
    </nav>

    <div class="page-container">

        <div class="property-card row" data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/tea.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Tea</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 10.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t1')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>     
       

        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/coffe.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Coffee</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 15.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t2')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>    
            
        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/ginger tea.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Ginger Tea</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 10.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t3')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/badham tea.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Badham Tea</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 15.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t4')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/lemon tea.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Lemon Tea</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 15.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t5')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/green tea.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Green Tea</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 15.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t6')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/milk.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Milk</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 20.00/-</div>
                        <div class="rent-unit">per cup</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t7')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/boost.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Boost</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 20.00/-</div>
                        <div class="rent-unit">per glass</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t8')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row"  data-filter="milkitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/lassi.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Lassi</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 25.00/-</div>
                        <div class="rent-unit">per glass</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t9')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row"  data-filter="snackitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/chat.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Chat</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 25.00/-</div>
                        <div class="rent-unit">per plate</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t10')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row" data-filter="snackitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/mixture.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Mixture</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 25.00/-</div>
                        <div class="rent-unit">per plate</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t11')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row" data-filter="snackitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/panipuri.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Panipuri</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 25.00/-</div>
                        <div class="rent-unit">per plate</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t12')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row" data-filter="snackitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/samosa.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Samosa</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 10.00/-</div>
                        <div class="rent-unit">per two piece</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t13')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="property-card row" data-filter="snackitem">
            <div class="image-container col-md-4">
                <img src="{{url_for('static',filename='img/properties4/sweetcorn.jpg')}}" />
            </div>
            <div class="content-container col-md-8">
                <div class="row no-gutters justify-content-between">
                    <div class="star-container" title="5.0">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="interested-container">
                        <i class="is-interested-image far fa-heart"></i>
                        <div class="interested-text">
                            <span class="interested-user-count">6</span> interested
                        </div>
                    </div>
                </div>
                <div class="detail-container">
                    <div class="property-name">Sweetcorn</div>
                    <div class="property-address">VASAVI ENGINEERING COLLEGE CAMPUS</div>
                </div>
                <div class="row no-gutters">
                    <div class="rent-container col-6">
                        <div class="rent">Rs 25.00/-</div>
                        <div class="rent-unit">per piece</div>
                    </div>
                    <div class="button-container col-6">
                        <a href="{{url_for('t14')}}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-heading" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signup-heading">Signup with Vasavi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="connect.php" method="POST" id="signup-form" class="form" role="form">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="full_name" placeholder="Full Name" maxlength="30" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-phone-alt"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="phone" placeholder="Phone Number" maxlength="10" minlength="10" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" minlength="6" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-university"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" name="college_id" placeholder="College id" maxlength="15" required>
                        </div>

                        <div class="form-group">
                            <span>I'm a</span>
                            <input type="radio" class="ml-3" id="gender-male" name="gender" value="male" /> Male
                            <label for="gender-male">
                            </label>
                            <input type="radio" class="ml-3" id="gender-female" name="gender" value="female" />
                            <label for="gender-female">
                                Female
                            </label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Create Account</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span>Already have an account?
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Login</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-heading" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-heading">Login with Vasavi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="login.php" method="POST" id="login-form" class="form" role="form">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password" placeholder="Password" minlength="6" required>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <span>
                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#signup-modal">Click here</a>
                        to register a new account
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="page-container footer-container">
            <div class="footer-cities">
                <div class="footer-city">
                    <a href="{{url_for('property_list2_after_login')}}">Vasavi Tiffins</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list1_after_login')}}">Vasavi Food Court</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list3_after_login')}}">Fruit Juice And Milk Shakes</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list4_after_login')}}">Tea And Snacks</a>
                </div>
                <div class="footer-city">
                    <a href="{{url_for('property_list5_after_login')}}">Pizzas And Bakery</a>
                </div>
            </div>
            <div class="footer-copyright">© 2023 Copyright vasavi Food Canteen </div>
        </div>
    </div>

    <script src="filter1.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>
